[submodule "lc_scan_assembler"]
	path = lc_scan_assembler
	url = git@github.com:PriestOfAdanos/lc_scan_assembler.git
[submodule "lc_sensor_grabber"]
	path = lc_sensor_grabber
	url = git@github.com:PriestOfAdanos/lc_sensor_grabber.git
